params {
    // Inputs
    input          = "data/RB*/*_R{1,2}.fastq.gz"
    outdir         = "results"
    
    // References
    fasta          = "/raw-data/ANNOTATIONS/REF_DIR/hg38/hg38.analysisSet.fasta"
    bwa_index      = "/home/ocanal/Desktop/nextflow_lowpass/data/reference/bwamem2_hg38.*"
    mat_dir    = "glimpse_reference/genetic_maps/"
    ref_dir  = "glimpse_reference/reference_panel/"
    prs_score_file = "refs/prs/weight_file.txt" 
}

// Configuración de recursos para los procesos
process {
    withLabel: process_low  { cpus = 2;  memory = 4.GB  }
    withLabel: process_high { cpus = 4;  memory = 22.GB }

    // Tier 1: Quality Control & Raw Trimming
    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/01_quality_control/${meta.id}" },
            mode: 'link',
            saveAs: { filename -> filename.endsWith('.html') || filename.endsWith('.json') ? filename : null }
        ]
    }

    // We comment the tier2 as we will store the remove duplicates bam for disk space efficiency
    // // Tier 2: Sequence Alignment (Primary Coordinates)
    // withName: 'BWAMEM2_ALIGN' {
    //     publishDir = [
    //         path: { "${params.outdir}/02_alignment/${meta.id}" },
    //         mode: 'link',
    //         // Only publish the clean coordinate-sorted BAM and its index (.bai)
    //         saveAs: { filename -> filename.endsWith('.bam') || filename.endsWith('.bai') ? filename : null }
    //     ]
    // }

    // Tier 3: Duplication Analysis & Metrics (Clinical Stability)
    withName: 'PICARD_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/03_deduplicated/${meta.id}" },
            mode: 'link'
        ]
    }

    // Tier 4: Statistical Probabilities (Genotype Likelihoods)
    withName: 'BCFTOOLS_MPILEUP' {
        publishDir = [
            path: { "${params.outdir}/04_genotype_likelihoods" },
            mode: 'link'
        ]
    }
}

// Organización por perfiles de ejecución
profiles {
    
    // Perfil para tu máquina local / desarrollo
    docker {
        docker.enabled    = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        singularity.enabled = false
    }
    
    // Perfil optimizado para el HPC Hospitalario
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        // Centraliza todas las imágenes .sif en un directorio persistente fuera del directorio 'work'
        singularity.cacheDir   = "/home/ocanal/Desktop/nextflow_lowpass/singularity_images"
        docker.enabled         = false
        
        // RECOMENDACIÓN CRÍTICA HPC: Forzar que Nextflow descargue el contenedor en el nodo de login
        // antes de enviar el proceso al nodo de cálculo (evita caídas por falta de internet en workers)
        process.cache          = 'lenient'
    }
}