params {
    // Inputs
    input          = "data/RB*/*_R{1,2}.fastq.gz"
    outdir         = "results"
    
    // References
    fasta          = "/home/ocanal/lowpass/nextflow_lowpass/data/reference/hg38.analysisSet.fasta"
    bwa_index      = "/home/ocanal/lowpass/nextflow_lowpass/data/reference/bwamem2_hg38.*"
    map_dir    = "glimpse_reference/genetic_maps/"
    ref_dir  = "glimpse_reference/reference_panel/"
    prs_score_file = "refs/prs/weight_file.txt"

    // GWAS parameters
    phenotypes = "data/phenotypes/cohort_phenotypes.txt"
}

// Configuración de recursos para los procesos
process {
    withLabel: process_low  { cpus = 4;  memory = 10.GB; time = 24.h  }
    withLabel: process_high { cpus = 10;  memory = 30.GB; time = 24.h }

    // Tier 1: Quality Control & Raw Trimming
    withName: 'FASTP' {
        publishDir = [
            path: { "${params.outdir}/01_quality_control/${meta.id}" },
            mode: 'link',
            saveAs: { filename -> filename.endsWith('.html') || filename.endsWith('.json') ? filename : null }
        ]
    }

    // We comment the tier2 as we will store the remove duplicates bam for disk space efficiency
    // // Tier 2: Sequence Alignment (Primary Coordinates)
    // withName: 'BWAMEM2_ALIGN' {
    //     publishDir = [
    //         path: { "${params.outdir}/02_alignment/${meta.id}" },
    //         mode: 'link',
    //         // Only publish the clean coordinate-sorted BAM and its index (.bai)
    //         saveAs: { filename -> filename.endsWith('.bam') || filename.endsWith('.bai') ? filename : null }
    //     ]
    // }

    // Tier 3: Duplication Analysis & Metrics (Clinical Stability)
    withName: 'PICARD_MARKDUPLICATES' {
        publishDir = [
            path: { "${params.outdir}/03_deduplicated/${meta.id}" },
            mode: 'link'
        ]
    }

    // Tier 4: Statistical Probabilities (Genotype Likelihoods)
    withName: 'BCFTOOLS_MPILEUP' {
        publishDir = [
            path: { "${params.outdir}/04_genotype_likelihoods" },
            mode: 'link'
        ]
    }

    // Tier 5: Final Phased & Imputed Genotypes (GLIMPSE2 Ecosystem)
    withName: 'GLIMPSE2_LIGATE' {
        publishDir = [
            path: { "${params.outdir}/05_imputed_variants/${meta.id}" },
            mode: 'link', // Adjust to 'copy' or 'symlink' if crossing distinct filesystems
            saveAs: { filename -> filename.endsWith('.vcf.gz') || filename.endsWith('.csi') || filename.endsWith('.bcf') ? filename : null }
        ]
    }

    // Tier 6: Cohort Aggregation & Genome-Wide Association Study (GWAS)
    withName: 'BCFTOOLS_CONCAT_CHROME_WIDE' {
        publishDir = [
            path: { "${params.outdir}/06_gwas/01_raw_cohort_matrix" },
            mode: 'link'
        ]
    }

    withName: 'PLINK2_GWAS_QC' {
        publishDir = [
            path: { "${params.outdir}/06_gwas/02_qc_filtered_genotypes" },
            mode: 'link'
        ]
    }
    withName: 'PLINK2_PCA' {
        publishDir = [
            path: { "${params.outdir}/06_gwas/03_population_stratification" },
            mode: 'copy' // Copying text tables facilitates downstream data-science imports (R/Python)
        ]
    }

    withName: 'PLINK2_ASSOCIATION' {
        publishDir = [
            path: { "${params.outdir}/06_gwas/04_association_statistics" },
            mode: 'copy'
        ]
    }

    withName: 'GWAS_VISUALIZATION' {
        publishDir = [
            path: { "${params.outdir}/06_gwas/05_diagnostic_plots" },
            mode: 'copy' // Images should always be explicitly copied to avoid broken links during work cleanup
        ]
    }
    
}

// Organización por perfiles de ejecución
profiles {
    
    // Perfil para tu máquina local / desarrollo
    docker {
        docker.enabled    = true
        docker.runOptions = '-u \$(id -u):\$(id -g)'
        singularity.enabled = false
    }
    
    // Perfil optimizado para el HPC Hospitalario
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        // Centraliza todas las imágenes .sif en un directorio persistente fuera del directorio 'work'
        singularity.cacheDir   = "/home/ocanal/lowpass/nextflow_lowpass/singularity_images"
        docker.enabled         = false
        
        // RECOMENDACIÓN CRÍTICA HPC: Forzar que Nextflow descargue el contenedor en el nodo de login
        // antes de enviar el proceso al nodo de cálculo (evita caídas por falta de internet en workers)
        process.cache          = 'lenient'
    }
}

report {
    enabled   = true
    file      = "pipeline_info/execution_report_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "pipeline_info/timeline_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "pipeline_info/trace_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.txt"
    fields    = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
    overwrite = true
}

dag {
    enabled   = true
    file      = "pipeline_info/pipeline_dag_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
    overwrite = true
}